.cssstyle2 
{
	background-color:Orange;
	display:inline-block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: large;
}

.cssrelativeurl {
    background-image: url("../images/glance5.png");
    border: 2px solid blue;
}

.cssabsoluteurl {
    background-image: url("/cobrowse/images/icon.png");
    border: 2px solid pink;
}

.cssotherserverurl {
    background-image: url("https://help.glance.cx/images/logo.svg");
    border: 2px solid green;
    background-color: purple;
}

.cssotherserverurl2 {
    background-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
    border: 2px solid orange;
    background-size:contain;
}

.sizedimage {
    width: 140px;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
